html {
	cursor: url('cursor.png'), pointer;
}

body {
	font-size : 13pt;
	font-family : "Trebuchet MS", Arial, sans-serif;
	background-image: url('background.jpg');
}

h2 {
	margin-top : 0px;
	font-weight : bold;
}

#status {
	position : absolute;
	top : 0px;
	left: 0px;
	width : 100%;
	text-align : center;
	border-bottom : 1px solid lightGray;
	background-image: url(statusBack.jpg);
	color: #FFFFCC;
}

#status #premierNiveau div {
	display : inline-block;
	padding : 10px 20px;
	border-left : 1px solid lightGray;
	border-right : 1px solid lightGray;
}
#status #premierNiveau div+div {
	border-left : none;
}

#status #secondNiveau {
	background-color: #FFFFCC;
}

.value{
	color: rgb(188,0,0);
}

.section {
	padding : 10px;
	margin : auto;
	margin-top : 100px;
	max-width : 600px;
	border : 1px solid lightGray;
	background-color: #FFFFCC;
}

.section .contentCompagnon {
	font-style: italic;
}

.section button {
	display : block;
	width : 100%;
	color : black;
	text-decoration : none;
	padding : 5px;
	margin-top : 30px;
	background : lightGray;
	border : none;
	cursor : pointer;
}

.section button+button  {
	margin-top : 10px;
}

.section button:hover {
	color : lightGray;
	background-color : gray;
	cursor: url('cursorHover.png'), pointer;
}

.battle {
	padding : 10px 10px;
	margin : 20px 0px;
	box-shadow : 0px 2px 8px gray;
}

#inventaire:hover {
	color : red;
	background-color : gray;
	cursor:url('cursorHover.png'),pointer;
}

#inventaireContent{

	text-align: center;
	width: 100%;
	top:40px;
	position: absolute;
	
}

#inventaireContent #empty{
	font-style: italic;	
	background-color: #FFFFCC;	
}

#inventaireContent #empty:hover{
	font-style: italic;		
	cursor:url('cursor.png'),pointer;
}
#inventaireContent .Parchemin{
	background-image:url('Parchemin.png');
	background-color:NavajoWhite;
	background-position: left;
	background-repeat: no-repeat;
}

#inventaireContent span {
	display : inline-block;
	padding : 10px 25px;
	padding-right: 5px;
	color : gray;
	border-left : 1px solid lightGray;
	border-right : 1px solid lightGray;
}

#inventaireContent span:hover {
	cursor:url('cursorHover.png'),pointer;
}

#inventaireContent span+span {
	border-left : none;
}

#inventaireContent .Clef{
	background-image:url('Clef.png');
	background-color:Silver;
	background-position: left;
	background-repeat: no-repeat;
}